<% if (session.user && session.user.role==='admin' ) { %>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle position-relative" href="#" id="notificationDropdown" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            <% if (totalNotifications> 0) { %>
            <i class="bi bi-bell"></i>
            Alerts
            <span class="badge bg-danger">
                <%= totalNotifications %>
            </span>
            <% } else { %>
                <i class="bi bi-bell"></i>
                Alerts
            <% } %>
        </a>
        <div class="dropdown-menu">
            <h6 class="dropdown-header">Notifications</h6>
            <% if (unpaidInvoices.length===0 && unsubmittedInvoices.length===0) { %>
            <div class="row">
                <div class="col-12 text-center">
                    <span class="dropdown-item-text">No notifications</span>
                </div>
            </div>
            <% } else { %>
            <div class="list-inline">
                <% if (unpaidInvoices.length> 0) { %>
                    <h6>Unpaid Invoices</h6>
                    <% unpaidInvoices.forEach(invoice=> { %>
                        <a class="list-inline-item" href="/invoice/read/<%= invoice.id %>">Invoice #<%=invoice.kashflowNumber %></a>
                    <% }) %>
                <% } %>
                <% if (unsubmittedInvoices.length> 0) { %>
                    <h6 class="dropdown-header">Unsubmitted Invoices</h6>
                    <% unsubmittedInvoices.forEach(invoice=> { %>
                        <a class="dropdown-item" href="/invoice/read/<%= invoice.id %>">Invoice #<%= invoice.kashflowNumber %></a>
                    <% }) %>
                <% } %>
            </div>
            <% } %>
        </div>
    </li>
<% } %>