<%- include('../partials/successAlert.ejs') %>
<%- include('../partials/errorAlerts.ejs') %>
<div class="container py-4">
    <div class="p-5 mb-4 bg-body-tertiary rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold text-center">Attendances</h1>
            <form action="/dashboard/attendance" method="GET" class="row g-3 mb-4">
                <div class="col-md-3">
                    <label for="dateFilter" class="form-label">Date</label>
                    <input type="date" id="dateFilter" name="date" class="form-control" value="<%= filters.date || '' %>">
                </div>
                <div class="col-md-3">
                    <label for="employeeFilter" class="form-label">Employee</label>
                    <select id="employeeFilter" name="employeeId" class="form-select">
                        <option value="">Select Employee</option>
                        <% employees.forEach(employee => { %>
                            <option value="<%= employee.id %>" <%= filters.employeeId == employee.id ? 'selected' : '' %>><%= employee.name %></option>
                        <% }); %>
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="subcontractorFilter" class="form-label">Subcontractor</label>
                    <select id="subcontractorFilter" name="subcontractorId" class="form-select">
                        <option value="">Select Subcontractor</option>
                        <% subcontractors.forEach(subcontractor => { %>
                            <option value="<%= subcontractor.id %>" <%= filters.subcontractorId == subcontractor.id ? 'selected' : '' %>><%= subcontractor.company %></option>
                        <% }); %>
                    </select>
                </div>
                <div class="col-md-3">
                    <button type="submit" class="btn btn-hcs-green mt-4">Filter</button>
                </div>
            </form>

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Person</th>
                            <th>Location</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if (attendances.length > 0) { %>
                            <% attendances.forEach(attendance => { %>
                                <tr>
                                    <td><a href="/attendance/daily/<%= attendance.date %>"><%= slimDateTime(attendance.date) %></a></td>
                                    <% if (attendance.Employee) { %>
                                    <td><a href="/employee/read/<%= attendance.Employee.name %>"><%= attendance.Employee.id %></a></td>
                                    <% } %>
                                    <% if (attendance.Subcontractor) { %>
                                    <td><a href="/subcontractor/read/<%= attendance.Subcontractor.id %>"><%= attendance.Subcontractor.company %></a></td>
                                    <% } %>
                                    <% if (attendance.Location.name) { %>
                                        <td><a href="/location/read/<%= attendance.Location.id %>"><%= attendance.Location.name %></a></td>
                                    <% } else { %>
                                        <td><a href="/location/read/<%= attendance.Location.id %>">
                                            <%= attendance.Location.address %>,
                                            <%= attendance.Location.city %>,
                                            <%= attendance.Location.postalCode %>
                                        </a></td>
                                    <% } %>
                                </tr>
                            <% }); %>
                        <% } else { %>
                            <tr>
                                <td colspan="6" class="text-center">No attendance records found.</td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
