
<div class="container py-4">
    <div class="p-5 mb-4 bg-body-tertiary rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold text-center">Clients</h1>
            <div class="row">
                <div class="col-2">
                    <ul class="scrollable-list list-group">
                        <a class="list-group-item list-group-item-action disabled text-bg-secondary text-center" aria-disabled="true">Client List</a>
                        <% clients.forEach(client => { %>
                            <a href="#<%= client.id %>" class="list-group-item list-group-item-action text-center">
                                <%= client.name %>
                            </a>
                        <% }); %>
                    </ul>
                </div>
                <div class="col-10">
                    <% clients.forEach(client => { %>
                    <div class="card mb-3">
                        <div class="card-header d-flex justify-content-between text-bg-secondary">
                            <span>Client: <%= client.name %></span>
                            <a class="text-white" href="/client/read/<%= client.id %>">View Client</a>
                        </div>
                        <div class="card-body" id="<%= client.id %>">
                            <ul class="list-group">
                                <li class="list-group-item">Name: <%= client.name %></li>
                            </ul>
                        </div>
                        <div class="card-footer d-flex justify-content-between">
                            <a type="button" class="btn btn-hcs-green btn-sm" href="/client/update/<%= client.id %>">Update Client</a>
                            <span>Last Updated: <%= slimDateTime(client.updatedAt, true) %></span>
                        </div>
                    </div>
                    <% }); %>
                </div>
            </div>
        </div>
    </div>
</div>
