<%- include('../partials/successAlert.ejs') %>
<%- include('../partials/errorAlerts.ejs') %>

<div class="container py-4">
    <div class="p-5 mb-4 bg-body-tertiary rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold text-center">Employees</h1>
            <div class="row">
                <!-- Employee List Sidebar -->
                <div class="col-2">
                    <ul class="scrollable-list list-group">
                        <a class="list-group-item list-group-item-action disabled text-bg-secondary text-center" aria-disabled="true">Employee List</a>
                        <% employees.forEach(employee => { %>
                            <a href="#<%= employee.id %>" class="list-group-item list-group-item-action text-center">
                                <%= employee.name %>
                            </a>
                        <% }); %>
                    </ul>
                </div>

                <!-- Employee Details Section -->
                <div class="col-10">
                    <% employees.forEach(employee => { %>
                    <div class="card mb-3">
                        <div class="card-header d-flex justify-content-between text-bg-secondary">
                            <span>Employee: <%= employee.name %></span>
                            <a class="text-white" href="/employee/read/<%= employee.id %>">View Employee</a>
                        </div>
                        <div class="card-body" id="<%= employee.id %>">
                            <ul class="list-group">
                                <li class="list-group-item"><strong>Email:</strong> <%= employee.email %></li>
                                <li class="list-group-item"><strong>Phone Number:</strong> <%= employee.phoneNumber ? employee.phoneNumber : 'N/A' %></li>
                                <li class="list-group-item"><strong>Position:</strong> <%= employee.position %></li>
                                <li class="list-group-item"><strong>Type:</strong> <%= employee.type %></li>
                                <li class="list-group-item"><strong>Status:</strong> <%= employee.status %></li>
                                <li class="list-group-item">
                                    <strong>Emergency Contact:</strong>
                                    <% if (employee.contactName && employee.contactNumber) { %>
                                        <%= employee.contactName %> - <%= employee.contactNumber %>
                                    <% } else { %>
                                        N/A
                                    <% } %>
                                </li>
                            </ul>
                        </div>
                        <div class="card-footer d-flex justify-content-between">
                            <a type="button" class="btn btn-hcs-green btn-sm" href="/employee/update/<%= employee.id %>">Update Employee</a>
                            <span>Last Updated: <%= slimDateTime(employee.updatedAt, true) %></span>
                        </div>
                    </div>
                    <% }); %>
                </div>
            </div>
        </div>
    </div>
</div>
