<%- include('../partials/successAlert.ejs') %>
<%- include('../partials/errorAlerts.ejs') %>

<div class="container py-4">
    <div class="p-5 mb-4 bg-body-tertiary rounded-3">
        <h1 class="display-5 fw-bold text-center">Quotes</h1>
        <div class="row">
            <div class="col-2">
                <ul class="scrollable-list list-group sticky-top">
                    <a class="list-group-item list-group-item-action disabled text-bg-secondary text-center" aria-disabled="true">Quote List</a>
                    <% quotes.forEach(quote => { %>
                        <% if (!quote.isAccepted) { %>  <!-- Only display quotes that are not accepted -->
                            <a href="#<%= quote.id %>" class="list-group-item list-group-item-action text-center">
                                <%= quote.quote_ref %>
                            </a>
                        <% } %>
                    <% }); %>
                </ul>
            </div>
            <div class="col-10">
                <% quotes.forEach(quote => { %>
                    <% if (!quote.isAccepted) { %>  <!-- Only display quotes that are not accepted -->
                        <div class="card mb-3">
                            <div class="card-header d-flex justify-content-between text-bg-secondary">
                                <span>Quote: <%= quote.quote_ref %></span>
                                <a class="text-white" href="/quote/read/<%= quote.id %>">View Quote</a>
                            </div>
                            <div class="card-body" id="<%= quote.id %>">
                                <ul class="list-group">
                                    <li class="list-group-item">Date: <%= slimDateTime(quote.date) %></li>
                                    <li class="list-group-item">Client: <%= quote.Client ? quote.Client.name : '' %></li>
                                    <li class="list-group-item">Location: <%= quote.Location ? quote.Location.address + ', ' + quote.Location.city : '' %></li>
                                    <li class="list-group-item">Value: <%= formatCurrency(quote.value) %></li>
                                    <li class="list-group-item">Description: <%= quote.desc || 'No Description Provided' %></li>
                                    <li class="list-group-item">Invoice No: <%= quote.invoice_no || '' %></li>
                                    <li class="list-group-item">Invoice Date: <%= slimDateTime(quote.invoice_date) || '' %></li>
                                    <% if (!quote.isAccepted) { %>
                                        <li class="list-group-item">Job: <a class="hcs-green-text" href="/job/create/<%= quote.id %>">Add Job Number</a></li>
                                    <% } %>
                                </ul>
                            </div>
                            <div class="card-footer d-flex justify-content-between">
                                <a type="button" class="btn btn-hcs-green btn-sm" href="/quote/update/<%= quote.id %>">Update Quote</a>
                                <span>Last Updated: <%= slimDateTime(quote.updatedAt, true) %></span>
                            </div>
                        </div>
                    <% } %>
                <% }); %>
            </div>
        </div>
    </div>
</div>
