

<div class="container py-4">
    <div class="mb-4 bg-body-tertiary rounded-3">
        <div class="container-fluid py-5">
            <div class="d-flex justify-content-between mb-2">
                
                <button class="btn btn-hcs-green" style="transform: rotate(0);">
                    <a class="text-white stretched-link text-decoration-none" href="/dashboard/stats/<%= previousYear %>/<%= previousMonth %>">&laquo; Previous</a>
                </button>

                <h1 class="display-6">Month <%= specifiedMonth %> | <%= currentMonthlyReturn.periodStartDisplay %> - <%= currentMonthlyReturn.periodEndDisplay %></h1>

                <button class="btn btn-hcs-green" style="transform: rotate(0);">
                    <a class="text-white stretched-link text-decoration-none" href="/dashboard/stats/<%= nextYear %>/<%= nextMonth %>">Next &raquo;</a>
                </button>
            </div>
            <div class="row mb-4">
                <div class="col-lg-6 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h4>Total Subcontractors</h4>
                            <p class="display-4"><%= subcontractorCount %></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h4>Total Invoices</h4>
                            <p class="display-4"><%= invoiceCount %></p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Submitted On Section -->
            <% if (!allInvoicesSubmitted || invoices == 0) { %>
            <div class="row mb-4">
                <div class="col-lg-12">
                    <div class="card bg-warning text-dark text-center">
                        <div class="card-body">
                                This month should be submitted between <span class="fw-bold"><%= submissionStartDate %></span> and <span class="fw-bold"><%= submissionEndDate %></span>.
                        </div>
                    </div>
                </div>
            </div>
            <% } else if (submissionDate) { %>
            <div class="row mb-4">
                <div class="col-lg-12">
                    <div class="card bg-success text-white text-center">
                        <div class="card-body">
                            <h4>Submitted On:</h4>
                            <p class="display-6"><%= slimDateTime(submissionDate) %></p>
                        </div>
                    </div>
                </div>
            </div>
            <% } %>
            <div class="row mb-4">
                <div class="col-lg-6 col-md-6">
                    <div class="card mb-3">
                        <div class="card-body">
                            <h4>Tax Year</h4>
                            <p><%= taxYear.start %> - <%= taxYear.end %></p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h4>Monthly Return</h4>
                            <p><%= currentMonthlyReturn.periodStartDisplay %> - <%= currentMonthlyReturn.periodEndDisplay %></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="card mb-3">
                        <div class="card-body">
                            <h4>Submission Deadline</h4>
                            <p><%= currentMonthlyReturn.submissionDeadline %> (<%= currentMonthlyReturn.submissionDeadlineInDays %> days left)</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h4>HMRC Update Date</h4>
                            <p><%= currentMonthlyReturn.hmrcUpdateDate %> (<%= currentMonthlyReturn.hmrcUpdateDateInDays %> days left)</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <h3 class="text-center">Subcontractors</h3>
                <div class="col-12">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Subcontractor</th>
                                    <th>Gross Total</th>
                                    <th>Material Total</th>
                                    <th>CIS Total</th>
                                    <th>Reverse Charge Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% if (subcontractors.length === 0) { %>
                                    <!-- Display a message when no subcontractors meet the criteria -->
                                    <tr>
                                        <td colspan="5" class="text-center">No invoices with paid dates that cover this period.</td>
                                    </tr>
                                <% } else { %>
                                    <% subcontractors.forEach(subcontractor => { %>
                                    <tr>
                                        <td><a href="/subcontractor/read/<%= subcontractor.id %>"><%= subcontractor.company %></a></td>
                                        <td><%= formatCurrency(subcontractorTotals[subcontractor.id].grossTotal) %></td>
                                        <td><%= formatCurrency(subcontractorTotals[subcontractor.id].materialTotal) %></td>
                                        <td><%= formatCurrency(subcontractorTotals[subcontractor.id].cisTotal) %></td>
                                        <% if (subcontractor.isReverseCharge) { %>
                                            <td><%= formatCurrency(subcontractorTotals[subcontractor.id].reverseChargeTotal) %></td>
                                        <% } else { %>
                                            <td><i class="bi bi-dash"></i></td>
                                        <% } %>
                                    </tr>
                                    <% }); %>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <% const midIndex = Math.ceil(invoices.length / 2); %> <!-- Calculate the midpoint index -->
                <h3 class="text-center">Invoices</h3>
                <!-- First column (first half of invoices) -->
                <div class="col-6">
                    <ul class="list-group">
                        <% invoices.slice(0, midIndex).forEach(invoice => { %>
                        <a href="/invoice/read/<%= invoice.id %>" class="list-group-item list-group-item-action">
                            <%= invoice.kashflowNumber %> | 
                            <% subcontractors.forEach(subcontractor => { %>
                            <% if (subcontractor.id === invoice.subcontractorId) { %>
                                <%= subcontractor.company %>
                            <% }}); %> | <%= invoice.invoiceNumber %>
                            <i class="bi bi-pencil-square" style="font-size: 0.65rem;"></i>
                            <% if (invoice.submissionDate === null || invoice.submissionDate === "0000-00-00 00:00:00") { %>
                                <i class="bi bi-x hcs-red-text"></i>
                            <% } else { %>
                                <i class="bi bi-check hcs-green-text"></i>
                            <% } %>
                        </a>
                        <% }); %>
                    </ul>
                </div>
                
                <!-- Second column (second half of invoices) -->
                <div class="col-6">
                    <ul class="list-group">
                        <% invoices.slice(midIndex).forEach(invoice => { %>
                        <a href="/invoice/read/<%= invoice.id %>" class="list-group-item list-group-item-action">
                            <%= invoice.kashflowNumber %> | 
                            <% subcontractors.forEach(subcontractor => { %>
                            <% if (subcontractor.id === invoice.subcontractorId) { %>
                                <%= subcontractor.company %>
                            <% }}); %> | <%= invoice.invoiceNumber %>
                            <i class="bi bi-pencil-square" style="font-size: 0.65rem;"></i>
                            <% if (invoice.submissionDate !== null) { %>
                                <i class="bi bi-check hcs-green-text"></i>
                            <% } else { %>
                                <i class="bi bi-x hcs-red-text"></i>
                            <% } %>
                        </a>
                        <% }); %>
                    </ul>
                </div>
            </div>
            
        </div>
    </div>
</div>