<%- include('../partials/successAlert.ejs') %>
<%- include('../partials/errorAlerts.ejs') %>
<div class="container py-4">
    <div class="p-5 mb-4 bg-body-tertiary rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold text-center">Users</h1>
            <div class="row">
                <div class="col-2">
                    <ul class="scrollable-list list-group">
                        <a class="list-group-item list-group-item-action disabled text-bg-secondary text-center" aria-disabled="true">User List</a>
                        <% users.forEach(user => { %>
                            <a href="#<%= user.id %>" class="list-group-item list-group-item-action text-center">
                                <%= user.username %>
                            </a>
                        <% }); %>
                    </ul>
                </div>
                <div class="col-10">
                    <% users.forEach(user => { %>
                    <div class="card mb-3">
                        <div class="card-header d-flex justify-content-between text-bg-secondary">
                            <span>User: <%= user.username %></span>
                            <a class="text-white" href="/user/read/<%= user.id %>">View User</a>
                        </div>
                        <div class="card-body" id="<%= user.id %>">
                            <ul class="list-group">
                                <li class="list-group-item">Username: <%= user.username %></li>
                                <li class="list-group-item">Email: <%= user.email %></li>
                                <li class="list-group-item">Role: <%= user.role %></li>
                            </ul>
                        </div>
                        <div class="card-footer d-flex justify-content-between">
                            <a type="button" class="btn btn-hcs-green btn-sm" href="/user/update/<%= user.id %>">Update User</a>
                            <span>Last Updated: <%= slimDateTime(user.updatedAt, true) %></span>
                        </div>
                    </div>
                    <% }); %>
                </div>
            </div>
        </div>
    </div>
</div>
