<%- include('../partials/successAlert.ejs') %>
<%- include('../partials/errorAlerts.ejs') %>

<div class="container py-4">
    <div class="p-5 mb-4 bg-body-tertiary rounded-3">
        <h1 class="display-5">Update Subcontractor</h1>
        <div class="container-fluid">
            <form action="/subcontractor/update/<%= subcontractor.id %>" method="POST">
                <div class="row mb-3">
                    <label for="name" class="col-sm-3 col-form-label">Name</label>
                    <div class="col-sm-9">
                        <input type="text" name="name" id="name" class="form-control" value="<%= subcontractor.name %>" required>
                        <div class="form-text"><small><%= subcontractor.name %></small></div>
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="company" class="col-sm-3 col-form-label">Company</label>
                    <div class="col-sm-9">
                        <input type="text" name="company" id="company" class="form-control" value="<%= subcontractor.company %>">
                        <div class="form-text"><small><%= subcontractor.company %></small></div>
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="line1" class="col-sm-3 col-form-label">Address Line 1</label>
                    <div class="col-sm-9">
                        <input type="text" name="line1" id="line1" class="form-control" value="<%= subcontractor.line1 %>">
                        <div class="form-text"><small><%= subcontractor.line1 %></small></div>
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="line2" class="col-sm-3 col-form-label">Address Line 2</label>
                    <div class="col-sm-9">
                        <input type="text" name="line2" id="line2" class="form-control" value="<%= subcontractor.line2 %>">
                        <div class="form-text"><small><%= subcontractor.line2 %></small></div>
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="city" class="col-sm-3 col-form-label">City</label>
                    <div class="col-sm-9">
                        <input type="text" name="city" id="city" class="form-control" value="<%= subcontractor.city %>">
                        <div class="form-text"><small><%= subcontractor.city %></small></div>
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="county" class="col-sm-3 col-form-label">County</label>
                    <div class="col-sm-9">
                        <input type="text" name="county" id="county" class="form-control" value="<%= subcontractor.county %>">
                        <div class="form-text"><small><%= subcontractor.county %></small></div>
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="postalCode" class="col-sm-3 col-form-label">Postal Code</label>
                    <div class="col-sm-9">
                        <input type="text" name="postalCode" id="postalCode" class="form-control" value="<%= subcontractor.postalCode %>">
                        <div class="form-text"><small><%= subcontractor.postalCode %></small></div>
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="cisNumber" class="col-sm-3 col-form-label">CIS Number</label>
                    <div class="col-sm-9">
                        <input type="text" name="cisNumber" id="cisNumber" class="form-control" value="<%= subcontractor.cisNumber %>">
                        <div class="form-text"><small><%= subcontractor.cisNumber %></small></div>
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="utrNumber" class="col-sm-3 col-form-label">UTR Number</label>
                    <div class="col-sm-9">
                        <input type="text" name="utrNumber" id="utrNumber" class="form-control" value="<%= subcontractor.utrNumber %>" required>
                        <div class="form-text"><small><%= subcontractor.utrNumber %></small></div>
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="vatNumber" class="col-sm-3 col-form-label">VAT Number</label>
                    <div class="col-sm-9">
                        <input type="text" name="vatNumber" id="vatNumber" class="form-control" value="<%= subcontractor.vatNumber %>">
                        <div class="form-text"><small><a href="https://find-and-update.company-information.service.gov.uk/company/<%= subcontractor.vatNumber %>"><%= subcontractor.vatNumber %></a></small></div>
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="deduction" class="col-sm-3 col-form-label">Deduction</label>
                    <div class="col-sm-9">
                        <select name="deduction" id="deduction" class="form-select">
                            <option value="0.3" <%= subcontractor.deduction == 0.3 ? 'selected' : '' %>>30%</option>
                            <option value="0.2" <%= subcontractor.deduction == 0.2 ? 'selected' : '' %>>20%</option>
                            <option value="0" <%= subcontractor.deduction == 0 ? 'selected' : '' %>>0%</option>
                        </select>
                        <div class="form-text"><small><%= subcontractor.deduction %></small></div>
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="isGross" class="col-sm-3 col-form-label">Gross</label>
                    <div class="col-sm-9">
                        <select id="isGross" name="isGross" class="form-select">
                            <option value="false" <%= subcontractor.isGross === false ? 'selected' : '' %>>False</option>
                            <option value="true" <%= subcontractor.isGross === true ? 'selected' : '' %>>True</option>
                        </select>
                        <div class="form-text"><small><%= subcontractor.isGross %></small></div>
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="isReverseCharge" class="col-sm-3 col-form-label">Reverse Charge</label>
                    <div class="col-sm-9">
                        <select id="isReverseCharge" name="isReverseCharge" class="form-select">
                            <option value="false" <%= subcontractor.isReverseCharge === false ? 'selected' : '' %>>False</option>
                            <option value="true" <%= subcontractor.isReverseCharge === true ? 'selected' : '' %>>True</option>
                        </select>
                        <div class="form-text"><small><%= subcontractor.isReverseCharge %></small></div>
                    </div>
                </div>

                <div class="d-grid gap-2 mt-4">
                    <button type="submit" class="btn btn-hcs-green">Update Subcontractor</button>
                </div>
            </form>
        </div>
    </div>
</div>
