<!-- views/account.ejs -->
<% if (typeof successMessage !== 'undefined' && successMessage.length > 0) { %>
<br>
<div class="alert alert-success alert-dismissible fade show p-3" role="alert">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    <%= successMessage %>
</div>
<% } %>

<% if (typeof errorMessages !== 'undefined' && errorMessages.length > 0) { %>
<br>
<div class="alert alert-danger alert-dismissible fade show p-3" role="alert">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    <% errorMessages.forEach(errorMessage => { %>
    <div><%= errorMessage %></div>
    <% }) %>
</div>
<% } %>

<div class="card">
    <div class="card-body">
        <h1 class="card-title">Account Details</h1>
        <div class="mb-3 row">
            <label for="staticUsername" class="col-sm-2 col-form-label">Username:</label>
            <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext" id="staticUsername"
                    value="<%= user.username %>">
            </div>
            <label for="staticEmail" class="col-sm-2 col-form-label">Email:</label>
            <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="<%= user.email %>">
            </div>
        </div>
        <button type="button" class="btn btn-hcs-red" data-bs-toggle="modal" data-bs-target="#settingsModal">
            Open Settings Modal
        </button>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="settingsModal" tabindex="-1" aria-labelledby="settingsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="settingsModalLabel">Account Settings</h5>
            </div>
            <div class="modal-body">
                <form action="/account/settings" method="POST">
                    <div class="mb-3">
                        <label for="username" class="form-label">Username:</label>
                        <label>
                            <input type="text" name="newUsername" value="<%= user.username %>" class="form-control"
                                required>
                        </label>
                    </div>

                    <div class="mb-3">
                        <label for="email" class="form-label">Email:</label>
                        <label>
                            <input type="email" name="newEmail" value="<%= user.email %>" class="form-control" required>
                        </label>
                    </div>

                    <!-- Add any other fields for account settings -->

                    <button type="submit" class="btn btn-hcs-red">Update Settings</button>
                    <button type="button" class="btn btn-hcs-black" data-bs-dismiss="modal">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    const settingsModal = document.getElementById('settingsModal')
    const myInput = document.getElementById('myInput')

    settingsModal.addEventListener('shown.bs.modal', () => {
        myInput.focus()
    })
</script>