<!-- views/account.ejs -->
<%- include('../partials/successAlert.ejs') %>
<%- include('../partials/errorAlerts.ejs') %>
<div class="container py-4">
    <div class="p-5 mb-4 bg-body-tertiary rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold text-center">Account Details</h1>
            <form>
                <div class="form-floating mb-3">
                    <input type="text" readonly class="form-control" value="<%= user.username %>">
                    <label for="staticUsername" class="form-label">Username:</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" readonly class="form-control" value="<%= user.email %>">
                    <label for="staticEmail" class="form-label">Email:</label>
                </div>
                <div class="d-grid gap-2 mt-4">
                    <button type="button" class="btn btn-hcs-red" data-bs-toggle="modal" data-bs-target="#settingsModal">
                        Change Details
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="settingsModal" tabindex="-1" aria-labelledby="settingsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="settingsModalLabel">Account Details</h5>
            </div>
            <div class="modal-body">
                <form action="/account/settings" method="POST">
                    <div class="form-floating mb-3">
                        <input type="text" name="newUsername" value="<%= user.username %>" class="form-control" required>
                        <label for="username" class="form-label">Username:</label>

                    </div>
                    <div class="form-floating mb-3">
                        <input type="email" name="newEmail" value="<%= user.email %>" class="form-control" required>
                        <label for="email" class="form-label">Email:</label>
                    </div>

                    <!-- Add any other fields for account settings -->

                    <button type="submit" class="btn btn-hcs-red">Update Details</button>
                    <button type="button" class="btn btn-hcs-black" data-bs-dismiss="modal">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    const settingsModal = document.getElementById('settingsModal')
    const myInput = document.getElementById('myInput')

    settingsModal.addEventListener('shown.bs.modal', () => {
        myInput.focus()
    })
</script>