<!-- views/account.ejs -->
<h1>Account Details</h1>

<% if (typeof message !== 'undefined' && message.length > 0) { %>
<br>
<div class="alert alert-infor alert-dismissible fade show p-3" role="alert">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    <%= message %>
</div>
<% } %>

<% if (typeof successMessage !== 'undefined' && successMessage.length > 0) { %>
<br>
<div class="alert alert-success alert-dismissible fade show p-3" role="alert">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    <%= successMessage %>
</div>
<% } %>

<div class="card">
    <div class="card-body">
        <p><strong>Username:</strong> <%= user.username %></p>
        <p><strong>Email:</strong> <%= user.email %></p>
        <!-- Display any other user details as needed -->
    </div>
</div>

<% if (typeof errorMessages !== 'undefined' && errorMessages.length > 0) { %>
<br>
<div class="alert alert-danger alert-dismissible fade show p-3" role="alert">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    <% errorMessages.forEach(errorMessage => { %>
    <div><%= errorMessage %></div>
    <% }) %>
</div>
<% } %>