<%- include('../partials/successAlert.ejs') %>
<%- include('../partials/errorAlerts.ejs') %>
<div class="">
    <div class="p-5 mb-4 bg-body-tertiary rounded-3">
        <div class="py-5 text-center">
            <h1 class="display-5 fw-bold">Dashboard</h1>
            <span class="badge rounded-pill text-bg-primary">
                Users
                <span class="badge rounded-pill text-bg-dark">
                    <%= userCount %>
                </span>
            </span>
            <span class="badge rounded-pill text-bg-warning">
                Subcontractors
                <span class="badge rounded-pill text-bg-dark">
                    <%= subcontractorCount %>
                </span>
            </span>
            <span class="badge rounded-pill text-bg-info">
                Invoices
                <span class="badge rounded-pill text-bg-dark">
                    <%= invoiceCount %>
                </span>
            </span>
        </div>
        <div class="row">
            <div class="col-6">
                <h3>Users</h3>
                <ul class="list-group">
                    <% users.forEach(user => { %>
                        <a href="/user/read/<%= user.id %>" class="list-group-item list-group-item-action">
                            <%= user.username %>
                            <i class="bi bi-pencil-square" style="font-size: 0.65rem;"></i>
                        </a>
                    <% }); %>
                </ul>
            </div>
            <div class="col-6">
                <h3>Subcontractors</h3>
                <ul class="list-group">
                    <% subcontractors.forEach(subcontractor => { %>
                    <a href="/subcontractor/read/<%= subcontractor.id %>" class="list-group-item list-group-item-action">
                        <%= subcontractor.company %>
                        <i class="bi bi-pencil-square" style="font-size: 0.65rem;"></i>
                    </a>
                    <% }); %>
                </ul>
            </div>
        </div>
        <h3>Users</h3>
        <ul class="list-group">
            <% users.forEach(user => { %>
                <a href="/user/read/<%= user.id %>" class="list-group-item list-group-item-action">
                    <%= user.username %>
                    <i class="bi bi-pencil-square" style="font-size: 0.65rem;"></i>
                </a>
            <% }); %>
        </ul>
        <h3>Subcontractors</h3>
        <ul class="list-group">
            <% subcontractors.forEach(subcontractor => { %>
            <a href="/subcontractor/read/<%= subcontractor.id %>" class="list-group-item list-group-item-action">
                <%= subcontractor.company %>
                <i class="bi bi-pencil-square" style="font-size: 0.65rem;"></i>
            </a>
            <% }); %>
        </ul>
        </div>
    </div>
</div>