<%- include('../partials/successAlert.ejs') %>
<%- include('../partials/errorAlerts.ejs') %>
<div class="container py-4">
    <div class="p-5 mb-4 bg-body-tertiary rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold text-center">Contacts Dashboard</h1>
            <div class="d-flex justify-content-end mb-3">
                <a href="/contact/create" class="btn btn-hcs-green">Create New Contact</a>
            </div>
            <% if (contacts.length === 0) { %>
                <p class="text-center">No contacts available.</p>
            <% } else { %>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Client</th>
                                <th>Phone</th>
                                <th>Email</th>
                                <th>Note</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% contacts.forEach(function(contact) { %>
                                <tr>
                                    <td class="<%= contact.name ? '' : 'text-warning' %>"><%= contact.name ? contact.name : 'N/A' %></td>
                                    <td class="<%= contact.clientName ? '' : 'text-warning' %>"><%= contact.clientName ? contact.clientName : 'N/A' %></td>
                                    <td class="<%= contact.phone ? '' : 'text-warning' %>"><%= contact.phone ? contact.phone : 'N/A' %></td>
                                    <td class="<%= contact.email ? '' : 'text-warning' %>"><%= contact.email ? contact.email : 'N/A' %></td>
                                    <td class="<%= contact.note ? '' : 'text-warning' %>"><%= contact.note ? contact.note : 'N/A' %></td>
                                    <td>
                                        <a href="/contact/read/<%= contact.id %>" class="btn btn-info btn-sm">View</a>
                                        <a href="/contact/update/<%= contact.id %>" class="btn btn-warning btn-sm">Update</a>
                                        <form action="/contact/delete/<%= contact.id %>" method="post" class="d-inline">
                                            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                                        </form>
                                    </td>
                                </tr>
                            <% }); %>
                        </tbody>
                    </table>
                </div>
            <% } %>
        </div>
    </div>
</div>
