<%- include('../partials/successAlert.ejs') %>
<%- include('../partials/errorAlerts.ejs') %>
<div class="container py-4">
    <div class="p-5 mb-4 bg-body-tertiary rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold text-center">Contacts Dashboard</h1>
            <div class="d-flex justify-content-end mb-3">
                <a href="/dashboard/client" class="btn btn-hcs-green">Create New Contact</a>
            </div>
            <% if (contacts.length === 0) { %>
                <p class="text-center">No contacts available.</p>
            <% } else { %>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Client</th>
                                <th>Phone</th>
                                <th>Email</th>
                                <th>Note</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% contacts.forEach(function(contact) { %>
                                <tr>
                                    <td><a href='/client/read/<%= contact.id %>'><%= contact.name %></a></td>
                                    <td><a href='/client/read/<%= contact.Client.id %>'><%= contact.Client.name %></a></td>
                                    <td><%= contact.phone %></td>
                                    <td><%= contact.email %></td>
                                    <td><%= contact.note %></td>
                                    <td>
                                        <a href="/contact/update/<%= contact.id %>" class="btn btn-warning btn-sm">Update</a>
                                    </td>
                                </tr>
                            <% }); %>
                        </tbody>
                    </table>
                </div>
            <% } %>
        </div>
    </div>
</div>
