<!-- views/dashboard.ejs: -->
<h1>Dashboard</h1>

<!-- Display success message -->
<% if (successMessage.length > 0) { %>
<br>
<div class="alert alert-success alert-dismissible fade show p-3" role="alert">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    <%= successMessage %>
</div>
<% } %>

<% if (typeof errorMessages !== 'undefined' && errorMessages.length > 0) { %>
<br>
<div class="alert alert-danger alert-dismissible fade show p-3" role="alert">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    <% errorMessages.forEach(errorMessage => { %>
    <div><%= errorMessage %></div>
    <% }) %>
</div>
<% } %>

<!-- Subcontractors table -->
<h3>Subcontractors (<%= subcontractorCount %>)</h3>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Company</th>
            <th>CIS Number</th>
        </tr>
    </thead>
    <tbody>
        <% subcontractors.forEach(subcontractor => { %>
        <tr>
            <td><%= subcontractor.name %></td>
            <td><%= subcontractor.company %></td>
            <td><%= subcontractor.cisNumber %></td>
        </tr>
        <% }); %>
    </tbody>
</table>

<!-- Invoices table -->
<h3>Invoices (<%= invoiceCount %>)</h3>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Invoice Number</th>
            <th>Kashflow Number</th>
            <th>Invoice Date</th>
            <th>Remittance Date</th>
            <th>Gross Amount</th>
            <th>Labour Cost</th>
            <th>Material Cost</th>
            <th>CIS Amount</th>
            <th>Net Amount</th>
            <th>Submission Date</th>
            <th>Reverse Charge</th>
        </tr>
    </thead>
    <tbody>
        <% invoices.forEach(invoice => { %>
        <tr>
            <td><%= invoice.invoiceNumber %></td>
            <td><%= invoice.kashflowNumber %></td>
            <td><%= slimDateTime(invoice.invoiceDate) %></td>
            <td><%= slimDateTime(invoice.remittanceDate) %></td>
            <td><%= invoice.grossAmount %></td>
            <td><%= invoice.labourCost %></td>
            <td><%= invoice.materialCost %></td>
            <td><%= invoice.cisAmount %></td>
            <td><%= invoice.netAmount %></td>
            <td><%= slimDateTime(invoice.submissionDate) %></td>
            <td><%= invoice.reverseCharge %></td>
        </tr>
        <% }); %>
    </tbody>
</table>