<%- include('../partials/successAlert.ejs') %>
<%- include('../partials/errorAlerts.ejs') %>
<div class="container py-4">
    <div class="p-5 mb-4 bg-body-tertiary rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold text-center">Jobs Dashboard</h1>
            <% if (jobs.length === 0) { %>
                <p class="text-center">No jobs available.</p>
            <% } else { %>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Quote Ref</th>
                                <th>Job Ref</th>
                                <th>Location</th>
                                <th>Client</th>
                                <th>Contact</th>
                                <th>Value</th>
                                <th>Description</th>
                                <th>Invoice No</th>
                                <th>Invoice Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% jobs.forEach(function(job) { %>
                                <tr>
                                    <td><%= slimDateTime(job.date) %></td>
                                    <td><%= job.quote_ref %></td>
                                    <td><%= job.job_ref %></td>
                                    <td><%= job.location %></td>
                                    <td><%= job.client.name %></td>
                                    <td><%= job.contact.name %></td>
                                    <td><%= formatCurrency(job.value) %></td>
                                    <td><%= job.desc %></td>
                                    <td><%= job.invoice_no %></td>
                                    <td><%= slimDateTime(job.invoice_date) %></td>
                                </tr>
                            <% }); %>
                        </tbody>
                    </table>
                </div>
            <% } %>
        </div>
    </div>
</div>
