<!-- views/layout.ejs: -->
<!DOCTYPE html>
<html lang="en" data-bs-theme="light">
<head>
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Subcontractor Management System</title>
  <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="/node_modules/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark d-print-none">
    <div class="container">
      <a class="navbar-brand d-flex align-items-center" href="/">
        <img src="/images/favicon.png" alt="Favicon" class="mr-2">
        <span class="d-none d-md-inline">Subcontractor Management System</span>
      </a>
      <ul class="navbar-nav hstack gap-3">
        <%- include('./partials/dashboards.ejs') %>
        <% if (typeof session.user !== 'undefined') { %>
          <li class="nav-item">
            <a class="nav-link hcs-white-text" href="/monthly/returns/form">
              <i class="bi bi-file-spreadsheet-fill"></i>
              Monthly Returns
            </a>
          </li>
          <div class="vr"></div>
          <li class="nav-item">
            <a class="nav-link hcs-green-text" href="/account">
              <i class="bi bi-person"></i>
              Account
            </a>
          </li>
          <%- include('./partials/notify.ejs') %>
          <li class="nav-item">
            <a class="nav-link hcs-red-text" href="/logout">
              <i class="bi bi-box-arrow-right"></i>
              Logout
            </a>
          </li>
        <% } else { %>
            <li class="nav-item">
              <a class="nav-link" href="/signin"><i class="bi bi-box-arrow-in-right"></i> Sign in</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/register"><i class="bi bi-book"></i> Create an account</a>
            </li>
        <% } %>
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="darkModeToggle">
          </div>
      </ul>
    </div>
  </nav>
  <nav class="navbar navbar-expand-lg navbar-light bg-grey d-print-none">
    <div class="container">
      <ul class="navbar-nav w-100 d-flex align-items-center">
        <% if (typeof session.user === 'undefined') { %>
        <% } else { %>
        <!-- Left Links -->
        <div class="d-flex me-auto">
          <% if (session.user.permissionCreateInvoice) { %>
          <li class="nav-item">
            <a class="nav-link" href="/subcontractor/select">
              <i class="bi bi-receipt"></i>
              Invoice
            </a>
          </li>
          <% } %>
          <% if (session.user.permissionCreateSubcontractor) { %>
          <li class="nav-item">
            <a class="nav-link" href="/subcontractor/create">
              <i class="bi bi-people"></i>
              Subcontractor
            </a>
          </li>
          <% } %>
          <li class="nav-item">
            <a class="nav-link" href="/client/select">
              <i class="bi bi-file-earmark-text"></i>
              Quote
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/client/create">
              <i class="bi bi-people"></i>
              Client
            </a>
          </li>
          <% if (session.user.permissionCreateUser) { %>
          <li class="nav-item">
            <a class="nav-link" href="/user/create">
              <i class="bi bi-person"></i>
              User
            </a>
          </li>
          <% } %>
        </div>
        <% } %>
      </ul>
    </div>
  </nav>

  <div class="content">
    <%- body %>
  </div>
  <footer class="footer mt-auto d-print-none">
    <nav class="navbar navbar-expand d-flex justify-content-center align-items-center mt-5 p-4 text-center">
      <div class="stack-on-small">
        <div>
          <a href="/"><img src="/images/favicon.png" alt="HCS Logo"></a>
          <a class="hcs-green-text" href="https://www.heroncs.co.uk">Heron Constructive Solutions Ltd.</a><br>
          Copyright &copy; 2023 - 2024 All Rights Reserved.
          <div>
            VAT No: <a class="hcs-green-text" href="https://beta.companieshouse.gov.uk/company/09276951">252295994</a>
            |
            Company No: <a class="hcs-green-text" href="https://beta.companieshouse.gov.uk/company/09276951">09276951</a>
          </div>
          <div>
            <small>
                Version: <%= package %>
                <i class="bi bi-info" data-bs-toggle="modal" data-bs-target="#infoModal" style="cursor: pointer;"></i>
            </small>
          </div>
        </div>
      </div>
    </nav>
  </footer>
<!-- Modal Structure -->
<div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="infoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="infoModalLabel">System Information</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p><strong>Node.js:</strong> <%= node %></p>
                <p><strong>Server:</strong> <%= serverPlatform %></p>
                <p id="pageLoadTime"></p> <!-- Placeholder for Page Load Time -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
  <script src="/node_modules/@popperjs/core/dist/umd/popper.min.js"></script>
  <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  <script>
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
  </script>
  <script>
    (() => {
      'use strict';

      const getStoredTheme = () => localStorage.getItem('theme');
      const setStoredTheme = theme => localStorage.setItem('theme', theme);

      const getPreferredTheme = () => {
        const storedTheme = getStoredTheme();
        if (storedTheme) {
          return storedTheme;
        }
        return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
      };

      const setTheme = theme => {
        if (theme === 'auto') {
          document.documentElement.setAttribute('data-bs-theme', window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light');
        } else {
          document.documentElement.setAttribute('data-bs-theme', theme);
        }
      };

      setTheme(getPreferredTheme());

      const showActiveTheme = (theme, focus = false) => {
        const themeSwitcher = document.querySelector('#darkModeToggleLabel');

        if (!themeSwitcher) {
          return;
        }

        if (focus) {
          themeSwitcher.focus();
        }
      };

      window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', () => {
        const storedTheme = getStoredTheme();
        if (storedTheme !== 'light' && storedTheme !== 'dark') {
          setTheme(getPreferredTheme());
        }
      });

      window.addEventListener('DOMContentLoaded', () => {
        showActiveTheme(getPreferredTheme());

        document.getElementById('darkModeToggle').addEventListener('change', () => {
          toggleDarkMode();
        });
      });

      const toggleDarkMode = () => {
        const currentTheme = getStoredTheme();
        const newTheme = currentTheme === 'dark' ? 'light' : 'dark';
        setStoredTheme(newTheme);
        setTheme(newTheme);
        showActiveTheme(newTheme, true);
      };
    })();

    // new
    const triggerTabList = document.querySelectorAll('[data-bs-toggle="tab"]')
    triggerTabList.forEach(triggerEl => {
        const tabTrigger = new bootstrap.Tab(triggerEl)
        triggerEl.addEventListener('click', event => {
            event.preventDefault()
            tabTrigger.show()
        })
    })
</script>
<script>
    // Initialize Bootstrap Modals
    const myModal = new bootstrap.Modal(document.getElementById('infoModal'));

    // Calculate and display the page load time
    window.addEventListener('load', () => {
        const pageLoadTime = performance.now();
        console.log(`Page load time is ${pageLoadTime.toFixed(2)} ms`);

        // Display the load time in the modal
        const pageLoadTimeElement = document.getElementById('pageLoadTime');
        pageLoadTimeElement.innerHTML = `<strong>Page Load Time:</strong> ${Math.round(pageLoadTime)} ms`;
    });
</script>
</body>
</html>