<div class="container py-4">
    <div class="card">
        <div class="card-header text-center text-bg-secondary">
            <h1 class="display-5">Monthly Returns</h1>
        </div>
        <div class="card-body">
            <div class="row">
                <% subcontractorsWithMonths.forEach(data => { %>
                    <% const subcontractor = data.subcontractor; %>
                    <% const years = data.years; %>
                    <% const invoicesByYear = data.invoicesByYear; %>
                    <div class="col-3 p-1">
                        <div class="card">
                            <!-- Card Header -->
                            <div class="card-header">
                                <h5 class="card-title"><%= subcontractor.dataValues.company %></h5>
                            </div>
                            <!-- Card Body with Flex Layout -->
                            <div class="card-body d-flex">
                                <!-- Vertical Navigation Tabs -->
                                <ul class="nav flex-column nav-underline" id="nav-tab-<%= subcontractor.id %>" role="tablist">
                                    <% years.forEach((year, index) => { %>
                                        <li class="mt-2">
                                            <a 
                                                class="btn btn-outline-primary <%= index === 0 ? 'active' : '' %>" 
                                                id="tab-<%= year %>-<%= subcontractor.id %>" 
                                                data-bs-toggle="pill" 
                                                data-bs-target="#content-<%= year %>-<%= subcontractor.id %>"  
                                                role="tab" 
                                                aria-controls="content-<%= year %>-<%= subcontractor.id %>" 
                                                aria-selected="<%= index === 0 %>">
                                                <%= year %>
                                        </a>
                                        </li>
                                    <% }); %>
                                </ul>
                                <!-- Tab Content -->
                                <div class="tab-content flex-grow-1" id="nav-tabContent-<%= subcontractor.id %>">
                                    <% years.forEach((year, index) => { %>
                                        <div class="tab-pane fade <%= index === 0 ? 'show active' : '' %>" id="content-<%= year %>-<%= subcontractor.id %>" role="tabpanel" aria-labelledby="tab-<%= year %>-<%= subcontractor.id %>">
                                            <ul>
                                                <li>
                                                    <a href="/yearly/returns/<%= year %>/<%= subcontractor.id %>">
                                                        <%= year %>
                                                    </a>
                                                </li>
                                                <% invoicesByYear[year].forEach(month => { %>
                                                <li>
                                                    <a href="/monthly/returns/<%= month %>/<%= year %>/<%= subcontractor.id %>">
                                                        <%= monthNames[month - 1] %>
                                                    </a>
                                                </li>
                                                <% }) %>
                                            </ul>
                                        </div>
                                    <% }); %>
                                </div>
                            </div>
                        </div>
                    </div>
                <% }); %>
            </div>
        </div>
    </div>
</div>
