<%- include('../partials/successAlert.ejs') %>
<%- include('../partials/errorAlerts.ejs') %>
<div class="container py-4">
    <div class="p-5 mb-4 bg-body-tertiary rounded-3">
        <h1 class="display-5">Update Contact</h1>
        <div class="container-fluid text-center">
            <form action="/contact/update/<%= contact.id %>" method="POST" class="needs-validation">
                <div class="row mb-3">
                    <label for="clientId" class="col-sm-3 col-form-label">Client</label>
                    <div class="col-sm-9">
                        <input type="text" id="clientId" name="clientId" class="form-control" value="<%= client.name %>" disabled>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="name" class="col-sm-3 col-form-label">Name</label>
                    <div class="col-sm-9">
                        <input type="text" id="name" name="name" class="form-control" value="<%= contact.name %>" required>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="email" class="col-sm-3 col-form-label">Email</label>
                    <div class="col-sm-9">
                        <input type="email" id="email" name="email" class="form-control" value="<%= contact.email %>">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="phone" class="col-sm-3 col-form-label">Phone</label>
                    <div class="col-sm-9">
                        <input type="text" id="phone" name="phone" class="form-control" value="<%= contact.phone %>">
                    </div>
                </div>
                <div class="d-grid">
                    <button type="submit" class="btn btn-hcs-green">Update Contact</button>
                </div>
            </form>
        </div>
    </div>
</div>
