<!-- views/updateSubcontractor.ejs -->
<h1>Edit Subcontractor</h1>
<form action="/subcontractor/update/<%= subcontractor.id %>" method="POST">
    <div class="mb-3">
        <label for="name" class="form-label">Name
            <pre><small><%= subcontractor.name %></small></pre></label>
        <input type="text" name="name" id="name" class="form-control" value="<%= subcontractor.name %>" required>
    </div>
    <div class="mb-3">
        <label for="company" class="form-label">Company
            <pre>set as: <%= subcontractor.company %></pre></label>
        <input type="text" name="company" id="company" class="form-control" value="<%= subcontractor.company %>"
            required>
    </div>
    <div class="mb-3">
        <label for="line1" class="form-label">Address Line 1
            <pre>set as: <%= subcontractor.line1 %></pre></label>
        <input type="text" name="line1" id="line1" class="form-control" value="<%= subcontractor.line1 %>" required>
    </div>
    <div class="mb-3">
        <label for="line2" class="form-label">Address Line 2
            <pre>set as: <%= subcontractor.line2 %></pre></label>
        <input type="text" name="line2" id="line2" class="form-control" value="<%= subcontractor.line2 %>" required>
    </div>
    <div class="mb-3">
        <label for="city" class="form-label">City
            <pre>set as: <%= subcontractor.city %></pre></label>
        <input type="text" name="city" id="city" class="form-control" value="<%= subcontractor.city %>" required>
    </div>
    <div class="mb-3">
        <label for="county" class="form-label">County
            <pre>set as: <%= subcontractor.county %></pre></label>
        <input type="text" name="county" id="county" class="form-control" value="<%= subcontractor.county %>" required>
    </div>
    <div class="mb-3">
        <label for="postalCode" class="form-label">Postal Code
            <pre>set as: <%= subcontractor.postalCode %></pre></label>
        <input type="text" name="postalCode" id="postalCode" class="form-control"
            value="<%= subcontractor.postalCode %>" required>
    </div>
    <div class="mb-3">
        <label for="cisNumber" class="form-label">CIS Number
            <pre>set as: <%= subcontractor.cisNumber %></pre></label>
        <input type="text" name="cisNumber" id="cisNumber" class="form-control" value="<%= subcontractor.cisNumber %>"
            required>
    </div>
    <div class="mb-3">
        <label for="utrNumber" class="form-label">UTR Number
            <pre>set as: <%= subcontractor.utrNumber %></pre></label>
        <input type="text" name="utrNumber" id="utrNumber" class="form-control" value="<%= subcontractor.utrNumber %>"
            required>
    </div>
    <div class="mb-3">
        <label for="deduction" class="form-label">Deduction <pre>set as: <%= subcontractor.deduction %></pre></label>
        <select name="deduction" id="deduction" class="form-select">
            <option value="0.3" <%= subcontractor.deduction = 0.3 ? 'selected' : '' %>>30%</option>
            <option value="0.2" <%= subcontractor.deduction = 0.2 ? 'selected' : '' %>>20%</option>
            <option value="0" <%= subcontractor.deduction = 0 ? 'selected' : '' %>>0%</option>
        </select>
    </div>
    <div class="mb-3">
        <label for="isGross" class="form-label">isGross <pre>set as: <%= subcontractor.isGross %></pre></label>
        <select id="isGross" name="isGross" class="form-control">
            <option value="false" selected>False</option>
            <option value="true">True</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Update Subcontractor</button>
</form>
<form action="/subcontractor/delete/<%= subcontractor.id %>" method="POST"
    onsubmit="return confirm('Are you sure you want to delete this Subcontractor?');">
    <button type="submit" class="btn btn-danger mt-3">Delete Subcontractor</button>
</form>