<!-- views/updateInvoice.ejs -->
<%- include('../partials/successAlert.ejs') %>
<%- include('../partials/errorAlerts.ejs') %>

<% function isValidDate(date) { return date instanceof Date && !isNaN(date); } %>
<div class="container mt-2">
    <h1>Update Invoice</h1>
    <form action="/invoice/update/<%= invoice.id %>" method="POST">
        <div class="form-floating mb-3">
            <input type="text" name="invoiceNumber" id="invoiceNumber" class="form-control"
                   value="<%= invoice.invoiceNumber %>" required>
            <label for="invoiceNumber" class="form-label">Invoice Number</label>
            <div class="form-text">
                <p>
                    <small>
                        <%= invoice.invoiceNumber %>
                    </small>
                </p>
            </div>
        </div>
        <div class="form-floating mb-3">
            <input type="text" name="kashflowNumber" id="kashflowNumber" class="form-control"
                   value="<%= invoice.kashflowNumber %>" required>
            <label for="kashflowNumber" class="form-label">Kashflow Number</label>
            <div class="form-text">
                <p>
                    <small>
                        <%= invoice.kashflowNumber %>
                    </small>
                </p>
            </div>
        </div>
        <div class="form-floating mb-3">
            <input type="date" name="invoiceDate" id="invoiceDate" class="form-control <%= isValidDate(invoice.invoiceDate) ? '' : 'is-invalid' %>"
            <% if (isValidDate(invoice.invoiceDate)) { %>
                   value="<%= invoice.invoiceDate.toISOString().split('T')[0] %>"
                    <% } %>
                   required>
            <% if (!isValidDate(invoice.invoiceDate)) { %>
                <div class="invalid-feedback">
                    Please provide a valid invoice date.
                </div>
            <% } %>
            <label for="invoiceDate" class="form-label">Invoice Date</label>
            <div class="form-text">
                <p>
                    <small>
                        <%= invoice.invoiceDate.toISOString().split('T')[0] %>
                    </small>
                </p>
            </div>
        </div>
        <div class="form-floating mb-3">
            <input type="date" name="remittanceDate" id="remittanceDate" class="form-control <%= isValidDate(invoice.remittanceDate) ? '' : 'is-invalid' %>"
            <% if (isValidDate(invoice.remittanceDate)) { %>
                   value="<%= invoice.remittanceDate.toISOString().split('T')[0] %>"
                    <% } %>
                   required>
            <% if (!isValidDate(invoice.remittanceDate)) { %>
                <div class="invalid-feedback">
                    Please provide a valid remittance date.
                </div>
            <% } %>
            <label for="remittanceDate" class="form-label">Remittance Date</label>
            <div class="form-text">
                <p>
                    <small>
                        <%= invoice.remittanceDate.toISOString().split('T')[0] %>
                    </small>
                </p>
            </div>
        </div>
        <div class="form-floating mb-3">
            <input type="number" step="0.01" name="grossAmount" id="grossAmount" class="form-control"
                   value="<%= invoice.grossAmount %>" disabled>
            <label for="grossAmount" class="form-label">Gross Amount</label>
            <div class="form-text">
                <p>
                    <small>
                        <%= invoice.grossAmount %>
                    </small>
                </p>
            </div>

        </div>
        <div class="form-floating mb-3">
            <input type="number" step="0.01" name="labourCost" id="labourCost" class="form-control"
                   value="<%= invoice.labourCost %>" required>
            <label for="labourCost" class="form-label">Labour Cost</label>
            <div class="form-text">
                <p>
                    <small>
                        <%= invoice.labourCost %>
                    </small>
                </p>
            </div>

        </div>
        <div class="form-floating mb-3">
            <input type="number" step="0.01" name="materialCost" id="materialCost" class="form-control"
                   value="<%= invoice.materialCost %>" required>
            <label for="materialCost" class="form-label">Material Cost</label>
            <div class="form-text">
                <p>
                    <small>
                        <%= invoice.materialCost %>
                    </small>
                </p>
            </div>

        </div>
        <div class="form-floating mb-3">
            <input type="number" step="0.01" name="cisAmount" id="cisAmount"
                   class="form-control <%= invoice.submissionDate === '1970-01-01' ? 'invalid-date' : '' %>"
                   value="<%= invoice.cisAmount %>" disabled>
            <label for="cisAmount" class="form-label">CIS Amount</label>
            <div class="form-text">
                <p>
                    <small>
                        <%= invoice.cisAmount %>
                    </small>
                </p>
            </div>

        </div>
        <div class="form-floating mb-3">
            <input type="number" step="0.01" name="netAmount" id="netAmount" class="form-control"
                   value="<%= invoice.netAmount %>" disabled>
            <label for="netAmount" class="form-label">Net Amount</label>
            <div class="form-text">
                <p>
                    <small>
                        <%= invoice.netAmount %>
                    </small>
                </p>
            </div>

        </div>
        <div class="form-floating mb-3">
            <input type="date" name="submissionDate" id="submissionDate" class="form-control <%= isValidDate(invoice.submissionDate) ? '' : 'is-invalid' %>"
            <% if (isValidDate(invoice.submissionDate)) { %>
                   value="<%= invoice.submissionDate.toISOString().split('T')[0] %>"
                    <% } %>
                   >
            <% if (!isValidDate(invoice.submissionDate)) { %>
                <div class="invalid-feedback">
                    The time format is incorrect.
                </div>
            <% } %>
            <label for="submissionDate" class="form-label">Submission Date</label>
            <div class="form-text">
                <p>
                    <small>
                        <% if (isValidDate(invoice.submissionDate)) { %>
                            <%= invoice.submissionDate.toISOString().split('T')[0] %>
                        <% } %>
                        <% if (!isValidDate(invoice.submissionDate)) { %>
                        <% } %>
                    </small>
                </p>
            </div>
        </div>
        <div class="form-floating mb-3">
            <input type="number" step="0.01" name="reverseCharge" id="reverseCharge" class="form-control"
                   value="<%= invoice.reverseCharge %>" disabled>
            <label for="reverseCharge" class="form-label">Reverse Charge</label>
            <div class="form-text">
                <p>
                    <small>
                        <%= invoice.reverseCharge %>
                    </small>
                </p>
            </div>

        </div>
        <div class="form-floating mb-3">
            <input type="text" name="month" id="month" class="form-control" value="<%= invoice.month %>" required>
            <label for="month" class="form-label">Tax Month</label>
            <div class="form-text">
                <p>
                    <small>
                        <%= invoice.month %>
                    </small>
                </p>
            </div>

        </div>
        <div class="form-floating mb-3">
            <input type="text" name="year" id="year" class="form-control" value="<%= invoice.year %>" required>
            <label for="year" class="form-label">Tax Year</label>
            <div class="form-text">
                <p>
                    <small>
                        <%= invoice.year %>
                    </small>
                </p>
            </div>

        </div>
        <button type="submit" class="btn btn-primary">Update Invoice</button>
    </form>
    <form action="/invoice/delete/<%= invoice.id %>" method="POST"
        onsubmit="return confirm('Are you sure you want to delete this Invoice?');">
        <button type="submit" class="btn btn-danger mt-3">Delete Invoice</button>
    </form>
</div>