<%- include('../partials/successAlert') %>
<%- include('../partials/errorAlerts') %>
<div class="container py-4">
    <div class="p-5 mb-4 bg-body-tertiary rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold text-center"><%= contact.name %></h1>
            <div class="card">
                <div class="card-header d-flex justify-content-between text-bg-secondary">
                    <span>Contact Details</span>
                    <a class="text-white" href="/client/read/<%= contact.clientId %>">View Client</a>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <ul class="list-group">
                                <li class="list-group-item">Name</li>
                                <li class="list-group-item">Email</li>
                                <li class="list-group-item">Phone</li>
                                <li class="list-group-item">Note</li>
                            </ul>
                        </div>
                        <div class="col-6">
                            <ul class="list-group">
                                <li class="list-group-item"><%= contact.name %></li>
                                <li class="list-group-item"><%= contact.email ? contact.email : 'N/A' %></li>
                                <li class="list-group-item"><%= contact.phone ? contact.phone : 'N/A' %></li>
                                <li class="list-group-item"><%= contact.note ? contact.note : 'N/A' %></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <a type="button" class="btn btn-hcs-green btn-sm" href="/contact/update/<%= contact.id %>">Update Contact</a>
                    <span>Last Updated: <%= slimDateTime(contact.updatedAt,true) %></span>
                    <form action="/contact/delete/<%= contact.id %>" method="post" class="d-inline">
                        <button type="submit" class="btn btn-danger btn-sm">Delete Contact</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
