<%- include('../partials/successAlert.ejs') %>
<%- include('../partials/errorAlerts.ejs') %>
<h1>View Submission</h1>
<div>
    <p>Submission ID: <%= submission.id %></p>
    <p>Month: <%= submission.month %></p>
    <p>Year: <%= submission.year %></p>
</div>
