<%- include('../partials/successAlert.ejs') %>
<%- include('../partials/errorAlerts.ejs') %>
<h1>View Submission</h1>
<div>
    <p>Submission ID: <%= submission.id %></p>
    <p>Gross Total: <%= submission.grossTotal %></p>
    <p>Labour Total: <%= submission.labourTotal %></p>
    <p>Material Total: <%= submission.materialTotal %></p>
    <p>CIS Total: <%= submission.cisTotal %></p>
    <p>Net Total: <%= submission.netTotal %></p>
    <p>Month: <%= submission.month %></p>
    <p>Year: <%= submission.year %></p>
</div>
