<%- include('../partials/successAlert.ejs') %>
<%- include('../partials/errorAlerts.ejs') %>
<h1>All Submissions</h1>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Submission ID</th>
            <th>Gross Total</th>
            <th>Labour Total</th>
            <th>Material Total</th>
            <th>CIS Total</th>
            <th>Net Total</th>
            <th>Month</th>
            <th>Year</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <% submissions.forEach(submission => { %>
            <tr>
                <td><%= submission.id %></td>
                <td><%= submission.grossTotal %></td>
                <td><%= submission.labourTotal %></td>
                <td><%= submission.materialTotal %></td>
                <td><%= submission.cisTotal %></td>
                <td><%= submission.netTotal %></td>
                <td><%= submission.month %></td>
                <td><%= submission.year %></td>
                <td>
                    <a href="/submission/<%= submission.id %>">View</a>
                    <a href="/submission/<%= submission.id %>/edit">Edit</a>
                    <form action="/submission/<%= submission.id %>" method="POST" style="display:inline;">
                        <button type="submit" onsubmit="return confirm('Are you sure you want to delete this Invoice?');">Delete</button>
                    </form>
                </td>
            </tr>
        <% }); %>
    </tbody>
</table>
