<!-- views/viewUser.ejs -->
<%- include('../partials/successAlert.ejs') %>
<%- include('../partials/errorAlerts.ejs') %>
<h1>User</h1>
<div class="card">
    <div class="card-header">
        User Details
    </div>
    <div class="card-body">
        <p>Username: <%= user.username %></p>
        <p>Email: <%= user.email %></p>
        <p>Role: <%= user.role %></p>
    </div>
</div>