<!-- views/viewInvoice.ejs: -->
<%- include('../partials/successAlert.ejs') %>
<%- include('../partials/errorAlerts.ejs') %>
<div class="container py-4">
    <div class="p-5 mb-4 bg-body-tertiary rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold text-center">Invoice <%= invoice.invoiceNumber %></h1>
            <div class="card">
                <div class="card-header d-flex justify-content-between text-bg-secondary">
                    <span><%= invoice.Subcontractor.company %></span>
                    <a class="hcs-green-text" href="/subcontractor/read/<%= invoice.Subcontractor.id %>">View Subcontractor</a>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <ul class="list-group">
                                <li class="list-group-item">Invoice Number</li>
                                <li class="list-group-item">KashFlow Number</li>
                                <li class="list-group-item">Invoice Date</li>
                                <li class="list-group-item">Remittance Date</li>
                                <li class="list-group-item">Gross Amount</li>
                                <li class="list-group-item">Labour Cost</li>
                                <li class="list-group-item">Material Cost</li>
                                <li class="list-group-item">CIS Amount</li>
                                <li class="list-group-item">Net Amount</li>
                                <% if (invoice.Subcontractor.isReverseCharge) { %>
                                    <li class="list-group-item">Reverse Charge</li>
                                <% } %>
                                <li class="list-group-item">Tax Month</li>
                                <li class="list-group-item">Tax Year</li>
                                <li class="list-group-item">Submission Date</li>
                            </ul>
                        </div>
                        <div class="col-6">
                            <ul class="list-group">
                                <li class="list-group-item"><%= invoice.invoiceNumber %></li>
                                <li class="list-group-item"><%= invoice.kashflowNumber %></li>
                                <li class="list-group-item"><%= slimDateTime(invoice.invoiceDate) %></li>
                                <li class="list-group-item"><%= slimDateTime(invoice.remittanceDate) %></li>
                                <li class="list-group-item"><%= formatCurrency(invoice.grossAmount) %></li>
                                <li class="list-group-item"><%= formatCurrency(invoice.labourCost) %></li>
                                <li class="list-group-item"><%= formatCurrency(invoice.materialCost) %></li>
                                <li class="list-group-item"><%= formatCurrency(invoice.cisAmount) %></li>
                                <li class="list-group-item"><%= formatCurrency(invoice.netAmount) %></li>
                                <% if (invoice.Subcontractor.isReverseCharge) { %>
                                    <li class="list-group-item"><%= formatCurrency(invoice.reverseCharge) %></li>
                                <% } %>
                                <li class="list-group-item"><%= invoice.month %></li>
                                <li class="list-group-item"><%= invoice.year %></li>
                                <li class="list-group-item"><%= slimDateTime(invoice.submissionDate) %></li
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <a type="button" class="btn btn-hcs-green btn-sm" href="/invoice/update/<%= invoice.id %>">Update Invoice</a>
                    <span>Last Updated: <%= slimDateTime(invoice.updatedAt,true) %></span>
                </div>
            </div>
        </div>
    </div>
</div>