<div class="container my-5">
    <h1 class="text-center mb-4">Subcontractors Dashboard</h1>
</div>

<div class="container mt-5">
    <h2 class="mb-3 text-center">Subcontractors List</h2>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>Postcode</th>
                <th>Mobile</th>
                <th>Email</th>
                <th>Created</th>
                <th>Updated</th>
                <th>CIS Number</th>
                <th>CIS Rate</th>
                <th>Subcontractor</th>
            </tr>
        </thead>
        <tbody>
            <% subcontractors.forEach(subcontractor => { %>
                <tr>
                    <td><a href="/kashflow/supplier/read/<%= subcontractor.uuid %>"><%= subcontractor.Name %></a></td>
                    <td>
                        <%= [subcontractor.Address1, subcontractor.Address2, subcontractor.Address3, subcontractor.Address4].filter(Boolean).join(', ') %>
                    </td>
                    <td><%= subcontractor.PostCode %></td>
                    <td><%= subcontractor.Mobile %></td>
                    <td>
                        <a href="mailto:<%= subcontractor.Email %>"><%= subcontractor.Email %></a>
                    </td>
                    <td><%= slimDateTime(subcontractor.Created) %></td>
                    <td><%= slimDateTime(subcontractor.Updated) %></td>
                    <td><%= subcontractor.CISNumber %></td>
                    <td><%= subcontractor.CISRate %></td>
                    <td><%= subcontractor.Subcontractor ? 'Yes' : 'No' %> <a href="/kashflow/supplier/change/<%= subcontractor.uuid %>">change</a></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</div>