<div class="container mt-5">
    <h2>Change <%= supplier.Name %> Details</h2>
    <form action="/supplier/change/<%= supplier.uuid %>" method="POST">
        <small class="form-text text-muted">
            <% if (supplier.Subcontractor) { %>
                Untick this box if the supplier is NOT a subcontractor under the Construction Industry Scheme (CIS).  
                Subcontractors may have CIS tax deductions applied (0%, 20%, or 30%) based on HMRC verification.
            <% } else { %>
                 Tick this box if the supplier is a subcontractor under the Construction Industry Scheme (CIS).  
                 Subcontractors may have CIS tax deductions applied (0%, 20%, or 30%) based on HMRC verification.
            <% } %> 
        </small>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="subcontractor" name="subcontractor" 
                <%= supplier.Subcontractor ? 'checked' : '' %> >
            <label class="form-check-label" for="subcontractor">Subcontractor</label>
        </div>
        <small class="form-text text-muted">
            0%: Gross payment status (no deductions).  
            20%: Standard rate for registered subcontractors.  
            30%: Higher rate for unregistered subcontractors.  
        </small>
        <div class="mb-3">
            <label for="cisRate" class="form-label">CIS Rate</label>
            <select class="form-select" id="cisRate" name="cisRate">
                <option value="0.0" <%= supplier.CISRate === 0.0 ? 'selected' : '' %>>0% (0.0)</option>
                <option value="0.2" <%= supplier.CISRate === 0.2 ? 'selected' : '' %>>20% (0.2)</option>
                <option value="0.3" <%= supplier.CISRate === 0.3 ? 'selected' : '' %>>30% (0.3)</option>
            </select>
        </div>
        <small class="form-text text-muted">
            The CIS Verification Number is issued by HMRC when a subcontractor is verified.  
            Required for contractors to apply the correct CIS tax rate (0%, 20%, or 30%).  
        </small>
        <div class="mb-3">
            <label for="cisNumber" class="form-label">CIS Number</label>
            <input type="text" class="form-control" id="cisNumber" name="cisNumber" value="<%= supplier.CISNumber !== null ? supplier.CISNumber : '' %>" placeholder="VXXXXXXXXXXXXX">
        </div>
        <button type="submit" class="btn btn-hcs-green">Save Changes</button>
    </form>
</div>