<div class="container mt-5">
    <p class="display-5 text-center">
        <% if (!supplier.Subcontractor) { %>
            Supplier
        <% } else { %>
            Subcontractor @ 
            <% if (supplier.CISRate == '0') { %>
                0%
            <% } else if (supplier.CISRate == '0.2') { %>
                20%
            <% } else if (supplier.CISRate == '0.3') { %>
                30%
            <% } %>
        <% } %>
        <br>
        <span class="fw-bold">
            <%= supplier.Name %>
        </span>
    </p>

    <div class="card">
        <div class="card-body">
            <ul>
                <li><strong>Contact:</strong>
                    <%= supplier.Contact %>
                </li>
                <li><strong>Email:</strong>
                    <%= supplier.Email %>
                </li>
                <li><strong>Phone:</strong>
                    <%= supplier.Telephone %>
                </li>
                <li><strong>Address:</strong>
                    <%= [supplier.Address1, supplier.Address2, supplier.Address3, supplier.Address4,
                        supplier.PostCode].filter(Boolean).join(', ') %></li>
            </ul>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <p class="display-5 text-center">Receipts</p>
            <table class="table table-sm table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>KF #</th>
                        <th>Date</th>
                        <th>Due Date</th>
                        <th>Amount</th>
                        <th>VAT Amount</th>
                        <th>Total Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <% receipts = receipts.sort((a, b) => Number(b.CustomerReference) - Number(a.CustomerReference)); %>
                    <% receipts.forEach(function(receipt) { %>
                        <tr>
                            <td><a href="/kashflow/receipt/read/<%= receipt.uuid %>"><%= receipt.CustomerReference %></a></td>
                            <td><a href="/kashflow/receipt/read/<%= receipt.uuid %>"><%= receipt.InvoiceNumber %></a></td>
                            <td><%= slimDateTime(receipt.InvoiceDate) %></td>
                            <td><%= slimDateTime(receipt.DueDate) %></td>
                            <td class="text-left">£<%= receipt.NetAmount %></td>
                            <td class="text-left">£<%= receipt.VATAmount %></td>
                            <td class="text-left"><%= formatCurrency(parseInt(receipt.NetAmount) + parseInt(receipt.VATAmount)) %></td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
    </div>