<div class="container mt-5">
    <h1 class="display-3">Purchase: <%= Receipt.InvoiceNumber %></h1>
    <p><strong>Date:</strong> <%= slimDateTime(Receipt.InvoiceDate) %></p>

    <!-- Supplier Information -->
    <% if (Supplier) { %>
        <h2 class="display-4">Supplier Information</h3>
        <p><strong>Name:</strong> <a href="/kashflow/supplier/read/<%= Supplier.uuid %>"><%= Supplier.Name %></a></p>
        <p><strong>Address:</strong></p>
        <ul>
            <li><%= Supplier.Address1 %></li>
            <li><%= Supplier.Address2 %></li>
            <li><%= Supplier.Address3 %></li>
            <li><%= Supplier.Postcode %></li>
        </ul>
    <% } %>

    <h2 class="display-6">Purchase</h2>

    <% if (Array.isArray(Receipt.Lines) && Receipt.Lines.length > 0) { %>
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead class="table-dark">
                <tr>
                    <th>Purchase Code</th>
                    <th>Job</th>
                    <th>Quantity</th>
                    <th>Description</th>
                    <th>Rate (£)</th>
                    <th>VAT Rate</th>
                    <th>VAT Amount</th>
                </tr>
            </thead>
            <tbody>
                <% Receipt.Lines.forEach(line => { %>
                    <tr>
                        <td><%= line.ChargeType %></td>
                        <td><%= line.ProjID %></td>
                        <td><%= line.Quantity %></td>
                        <td><%= line.Description %></td>
                        <td><%= line.Rate %></td>
                        <td><%= line.VatRate %></td>
                        <td><%= line.VatAmount %></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
    <% } else { %>
    <p class="text-danger">No line items available for this receipt.</p>
    <% } %>

    <h2 class="display-6">Payment</h2>

    <!-- <pre><%= JSON.stringify(Receipt.Payments, null, 2) %></pre> -->

    <% if (Receipt.Payments) { %>
        <% if (Receipt.Payments.Payment) { %>
            <% if (Array.isArray(Receipt.Payments.Payment.Payment)) { %>
                <% if (Receipt.Payments.Payment.Payment.length > 0) { %>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead class="table-dark">
                                <tr>
                                    <th>Pay Invoice</th>
                                    <th>Pay Date</th>
                                    <th>Pay Note</th>
                                    <th>Pay Amount (£)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% Receipt.Payments.Payment.Payment.forEach(payment => { %>
                                    <tr>
                                        <td><%= payment.PayInvoice %></td>
                                        <td><%= slimDateTime(payment.PayDate) %></td>
                                        <td><%= payment.PayNote %></td>
                                        <td><%= payment.PayAmount %></td>
                                    </tr>
                                <% }) %>
                            </tbody>
                        </table>
                    </div>
                <% } else { %>
                    <p class="text-danger">Payments.Payment.Payment array is empty.</p>
                <% } %>
            <% } else { %>
                <p class="text-danger">Payments.Payment.Payment is not an array.</p>
            <% } %>
        <% } else { %>
            <p class="text-danger">Payments.Payment object does not exist.</p>
        <% } %>
    <% } else { %>
        <p class="text-danger">No payment items available for this receipt.</p>
    <% } %>

    <h2 class="display-6">Summary</h2>
    <p><strong>Net:</strong> £<%= Receipt.NetAmount %></p>
    <p><strong>VAT:</strong> £<%= Receipt.VATAmount %></p>
    <p><strong>Amount Paid:</strong> £<%= Receipt.AmountPaid %></p>

    <% if (!Receipt.SubmissionDate) { %>
    <div>
        <h2 class="display-6">Purchase Details</h2>
        <p><strong>Submission Date:</strong> <%= Receipt.SubmissionDate || 'Not Submitted' %></p>
        <form action="/kashflow/receipt/<%= Receipt.uuid %>/submit" method="POST">
            <button type="submit" class="btn btn-hcs-green">Mark as Submitted (Today)</button>
        </form>
        <br>
        <form action="/kashflow/receipt/change/<%= Receipt.uuid %>" method="GET">
            <button type="submit" class="btn btn-warning ">Change to a Specific Submission Date</button>
        </form>
    </div>
    <% } else { %>
    <div>
        <h2 class="display-6">Purchase Details</h2>
        <p><strong>Submission Date:</strong> <%= Receipt.SubmissionDate %></p>
        <form action="/kashflow/receipt/<%= Receipt.uuid %>/cancel" method="POST">
            <button type="submit" class="btn btn-danger">Cancel Submission</button>
        </form>
        <br>
        <form action="/kashflow/receipt/change/<%= Receipt.uuid %>" method="GET">
            <button type="submit" class="btn btn-warning">Change to a Specific Submission Date</button>
        </form>
    </div>
    <% } %>
</div>