<div class="container mt-5">
    <p class="display-5 text-center">Supplier<br> <span class="fw-bold"><%= supplier.Name %></span></p>
    <div class="card">
        <div class="card-body">
            <ul>
                <li><strong>Contact:</strong> <%= supplier.Contact %></li>
                <li><strong>Email:</strong> <%= supplier.Email %></li>
                <li><strong>Phone:</strong> <%= supplier.Telephone %></li>
                <li><strong>Address:</strong> <%= supplier.Address1 %>, <%= supplier.Address2 %>, <%= supplier.Address3 %>, <%= supplier.Address4 %>, <%= supplier.PostCode %></li>
            </ul>
        </div>
    </div>
    <p><strong>Contact:</strong> <%= supplier.Contact %></p>
    <p><strong>Email:</strong> <%= supplier.Email %></p>
    <p><strong>Phone:</strong> <%= supplier.Telephone %></p>
    <p><strong>Address:</strong> 
        <%= supplier.Address1 %>, <%= supplier.Address2 %>, <%= supplier.Address3 %>, <%= supplier.Address4 %>, <%= supplier.PostCode %>
    </p>
    <hr>
    <p class="display-5 text-center">Receipts</p>
    <table class="table table-sm table-striped">
        <thead>
            <tr>
                <th>Number</th>
                <th>Date</th>
                <th>Due Date</th>
                <th>Amount</th>
                <th>VAT Amount</th>
                <th>Total Amount</th>
            </tr>
        </thead>
        <tbody>
            <% receipts.forEach(function(receipt) { %>
                <tr>
                    <td><a href="/kashflow/receipt/read/<%= receipt.uuid %>"><%= receipt.InvoiceNumber %></a></td>
                    <td><%= slimDateTime(receipt.InvoiceDate) %></td>
                    <td><%= slimDateTime(receipt.DueDate) %></td>
                    <td class="text-left">£<%= receipt.NetAmount %></td>
                    <td class="text-left">£<%= receipt.VATAmount %></td>
                    <td class="text-left"><%= formatCurrency(parseInt(receipt.NetAmount) + parseInt(receipt.VATAmount)) %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
    </div>