
<h1>Supplier: <%= supplier.Name %></h1>
<p><strong>ID:</strong> <%= supplier.SupplierID %></p>
<p><strong>Contact:</strong> <%= supplier.Contact %></p>
<p><strong>Email:</strong> <%= supplier.Email %></p>
<p><strong>Phone:</strong> <%= supplier.Telephone %></p>
<p><strong>Address:</strong> 
    <%= supplier.Address1 %>, <%= supplier.Address2 %>, <%= supplier.PostCode %>
</p>
