<div class="page-number">
    <%= supplier.Name %> | Heron Constructive Solutions LTD | <%= year %> Yearly Returns
</div>
<div class="mt-4">
    <h1 class="mb-4 display-3 text-center">
        <%= year %> Yearly Returns
    </h1>
    <div class="row justify-content-evenly">
        <div class="col-6 ms-auto text-center">
            <p class="display-5">Subcontractor</p>
            <p><%= supplier.Name %></p>
            <p><address>
                <%= supplier.Address1 %>,
                <%= supplier.Address2 %>,
                <%= supplier.Address3 %>,
                <%= supplier.Address4 %>,
                <%= supplier.PostCode %>
            </address></p>
            <p>CIS: <%= supplier.CISRate %></p>
            <p>VAT: <%= supplier.VATNumber %></p>
        </div>
        <div class="col-6 text-center">
            <p class="display-5">Contractor</p>
            Heron Constructive Solutions LTD
            <br>
            <address>
                103 Herondale Road,
                Mossley Hill,
                Liverpool,
                Merseyside,
                L18 1JZ.
            </address>
            <br>
            Company: 09276951
            <br>
            VAT: 252295994
            <br>
        </div>
    </div>
</div>

<% for (let monthIndex = 1; monthIndex <= 12; monthIndex++) { %>
    <% const monthKey = monthIndex.toString(); %>
    <% let receipts = receiptsByMonth[monthKey] || []; %>
    <% receipts = receipts.sort((a, b) => new Date(a.PayDate) - new Date(b.PayDate)); %>
    <% const hasReceipts = receipts.length > 0; %>
    <% if (hasReceipts) { %>
        <% if (pageBreakMonths.includes(monthIndex)) { %>
            <table class="table table-hover table-sm caption-top page-break d-print-table">
        <% } else { %>
            <table class="table table-hover table-sm caption-top d-print-table">
        <% } %>
        <caption class="text-center">Month <%= monthKey %> (<%= monthNames[monthIndex - 1] %> <%= year %>)</caption>
            <thead>
                <tr>
                    <th>
                        <span class="d-none d-md-table-cell">Invoice</span>
                        <span class="d-md-none">Inv</span>
                    </th>
                    <th>
                        <span class="d-none d-md-table-cell">Kashflow</span>
                        <span class="d-md-none">KF</span>
                    </th>
                    <th>
                        <span class="d-none d-md-table-cell">Invoiced</span>
                        <span class="d-md-none">Invoiced</span>
                    </th>
                    <th>
                        <span class="d-none d-md-table-cell">Paid</span>
                        <span class="d-md-none">Paid</span>
                    </th>
                    <th>
                        <span class="d-none d-md-table-cell">Gross</span>
                        <span class="d-md-none">Gross</span>
                    </th>
                    <th>
                        <span class="d-none d-md-table-cell">Labour</span>
                        <span class="d-md-none">Labour</span>
                    </th>
                    <th>
                        <span class="d-none d-md-table-cell">Material</span>
                        <span class="d-md-none">Material</span>
                    </th>
                    <th>
                        <span class="d-none d-md-table-cell">
                            CIS @ <% if (supplier.CISRate===0.0) { %>0%<% } else if (supplier.CISRate===0.2) { %>20%<% } else if (supplier.CISRate===0.3) { %>30%<% } %>
                        </span>
                        <span class="d-md-none">CIS</span>
                    </th>
                    <th>
                        <span class="d-none d-md-table-cell">Net</span>
                        <span class="d-md-none">Net</span>
                    </th>
                    <% if (supplier.isReverseCharge) { %>
                    <th>
                        <span class="d-none d-md-table-cell">Reverse Charge</span>
                        <span class="d-md-none">RC</span>
                    </th>
                    <% } %>
                    <th>
                        <span class="d-none d-md-table-cell">Submission Date</span>
                        <span class="d-md-none">Submission</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <% let totalGross = 0, totalLabour = 0, totalMaterial = 0, totalCIS = 0, totalNet = 0; %>
                <% receipts.forEach(receipt => { %>
                    <tr>
                        <td><%= receipt.InvoiceNumber %></td>
                        <td><%= receipt.KashflowNumber %></td>
                        <td><%= slimDateTime(receipt.InvoiceDate) %></td>
                        <td><%= receipt.PayDate %></td>
                        <td><%= formatCurrency(receipt.GrossAmount) %></td>
                        <td><%= formatCurrency(receipt.LabourCost) %></td>
                        <td><%= formatCurrency(receipt.MaterialCost) %></td>
                        <td><%= formatCurrency(receipt.CISAmount) %></td>
                        <td><%= formatCurrency(receipt.NetAmount) %></td>
                        <td><%= slimDateTime(receipt.SubmissionDate) %></td>
                    </tr>
                    <% totalGross += receipt.GrossAmount; %>
                    <% totalLabour += receipt.LabourCost; %>
                    <% totalMaterial += receipt.MaterialCost; %>
                    <% totalCIS += receipt.CISAmount; %>
                    <% totalNet += receipt.NetAmount; %>
                <% }) %>
                <tr class="fw-bold">
                    <td colspan="4">Total for Month <%= monthKey %>:</td>
                    <td><%= formatCurrency(totalGross) %></td>
                    <td><%= formatCurrency(totalLabour) %></td>
                    <td><%= formatCurrency(totalMaterial) %></td>
                    <td><%= formatCurrency(totalCIS) %></td>
                    <td><%= formatCurrency(totalNet) %></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    <% } %>
<% } %>
