
<div class="container py-4">
    <div class="p-5 mb-4 bg-body-tertiary rounded-3">
        <h1 class="display-5">Create Attendance</h1>
        <div class="container-fluid text-center">
            <form action="/attendance/create" method="POST" class="needs-validation">
                <!-- Auto-populate Date field -->
                <div class="row mb-3">
                    <label for="date" class="col-sm-3 col-form-label">Date</label>
                    <div class="col-sm-9">
                        <input 
                            type="date" 
                            id="date" 
                            name="date" 
                            class="form-control" 
                            value="<%= date %>" 
                            required
                        >
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="locationId" class="col-sm-3 col-form-label">Location</label>
                    <div class="col-sm-9">
                        <div class="input-group">
                            <select multiple id="locationId" name="locationId" class="form-select">
                                <option value="">Select Location</option>
                                <% locations.forEach(location => { %>
                                    <% if (location.name) { %>
                                        <option value="<%= location.id %>"><%= location.name %></option>
                                    <% } else { %>
                                    <option value="<%= location.id %>"><%= location.address %>, <%= location.city %>, <%= location.postalCode %></option>
                                    <% } %>
                                <% }); %>
                            </select>
                            <a href="/location/create">
                                <button type="button" class="btn btn-hcs-green">+</button>
                            </a>
                        </div>
                    </div>
                </div>

                <!-- Auto-populate Employee field -->
                <div class="row mb-3">
                    <label for="employeeId" class="col-sm-3 col-form-label">Employee</label>
                    <div class="col-sm-9">
                        <div class="input-group">
                            <select id="employeeId" name="employeeId" class="form-select">
                                <option value="">N/A</option>
                                <% employees.forEach(employee => { %>
                                    <% const selected = employeeId == employee.id ? 'selected' : ''; %>
                                    <option value="<%= employee.id %>" <%= selected %>>
                                        <%= employee.name %>
                                    </option>
                                <% }); %>
                            </select>
                            <a href="/employee/create">
                                <button type="button" class="btn btn-hcs-green">+</button>
                            </a>
                        </div>
                    </div>
                </div>

                <!-- Auto-populate Subcontractor field -->
                <div class="row mb-3">
                    <label for="subcontractorId" class="col-sm-3 col-form-label">Subcontractor</label>
                    <div class="col-sm-9">
                        <div class="input-group">
                            <select id="subcontractorId" name="subcontractorId" class="form-select">
                                <option value="">N/A</option>
                                <% subcontractors.forEach(subcontractor => { %>
                                    <% const selected = subcontractorId == subcontractor.id ? 'selected' : ''; %>
                                    <option value="<%= subcontractor.id %>" <%= selected %>>
                                        <%= subcontractor.company %>
                                    </option>
                                <% }); %>
                            </select>
                            <a href="/subcontractor/create">
                                <button type="button" class="btn btn-hcs-green">+</button>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="type" class="col-sm-3 col-form-label">Type</label>
                    <div class="col-sm-9">
                        <select id="type" name="type" class="form-select">
                            <option value="Off" selected>Off</option>
                            <option value="Work">Work</option>
                            <option value="Holiday">Holiday</option>
                            <option value="Sick">Sick</option>
                        </select>
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="hoursWorked" class="col-sm-3 col-form-label">Hours Worked</label>
                    <div class="col-sm-9">
                        <input type="number" id="hoursWorked" name="hoursWorked" class="form-control" min="0" step="0.1">
                    </div>
                </div>

                <div class="d-grid">
                    <button type="submit" class="btn btn-hcs-green">Create Attendance</button>
                </div>
            </form>
        </div>
    </div>
</div>
