
<div class="container py-4">
    <div class="p-5 mb-4 bg-body-tertiary rounded-3">
        <h1 class="display-5">Update Quote</h1>
        <div class="container-fluid text-center">
            <form action="/quote/update/<%= quote.id %>" method="POST" class="needs-validation">
                
                <div class="row mb-3">
                    <label for="date" class="col-sm-3 col-form-label">Date</label>
                    <div class="col-sm-9">
                        <input type="date" id="date" name="date" class="form-control" value="<%= slimDateTime(quote.date, false, true) %>" >
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="quote_ref" class="col-sm-3 col-form-label">Quote</label>
                    <div class="col-sm-9">
                        <input type="text" id="quote_ref" name="quote_ref" class="form-control" value="<%= quote.quote_ref %>" >
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="locationId" class="col-sm-3 col-form-label">Location</label>
                    <div class="col-sm-9">
                        <select id="locationId" name="locationId" class="form-select">
                            <% locations.forEach(location => { %>
                                <option value="<%= location.id %>" <%= location.id === quote.locationId ? 'selected' : '' %>><%= location.address %>, <%= location.city %>, <%= location.postalCode %>, <%= location.country %></option>
                            <% }) %>
                        </select>
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="client" class="col-sm-3 col-form-label">Client</label>
                    <div class="col-sm-9">
                        <div class="input-group">
                            <select id="client" name="clientId" class="form-select">
                                <option value="<%= quote.clientId %>"><%= quote.Client.name %></option>
                            </select>
                            <button id="addClientButton" type="button" class="btn btn-hcs-green">+</button>
                        </div>
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="contactId" class="col-sm-3 col-form-label">Contact</label>
                    <div class="col-sm-9">
                        <select id="contactId" name="contactId" class="form-select">
                            <% if (!quote.Client.Contacts || quote.Client.Contacts.length === 0) { %>
                                <option class="text-warning" value="">N/A</option>
                            <% } else { %>
                                <% quote.Client.Contacts.forEach(function(contact) { %>
                                    <option value="<%= contact.id %>" <%= contact.id === quote.contactId ? 'selected' : '' %>><%= contact.name %></option>
                                <% }); %>
                            <% } %>
                        </select>
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="value" class="col-sm-3 col-form-label">Value</label>
                    <div class="col-sm-9">
                        <input type="number" step="0.01" id="value" name="value" class="form-control" value="<%= quote.value %>" >
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="desc" class="col-sm-3 col-form-label">Description</label>
                    <div class="col-sm-9">
                        <textarea id="desc" name="desc" class="form-control" rows="3"><%= quote.desc %></textarea>
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="invoice_no" class="col-sm-3 col-form-label">Invoice No</label>
                    <div class="col-sm-9">
                        <input type="text" id="invoice_no" name="invoice_no" class="form-control" value="<%= quote.invoice_no %>">
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="invoice_date" class="col-sm-3 col-form-label">Invoice Date</label>
                    <div class="col-sm-9">
                        <input type="date" id="invoice_date" name="invoice_date" class="form-control" value="<%= slimDateTime(quote.invoice_date, false, true) %>">
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="isAccepted" class="col-sm-3 col-form-label">Is Accepted</label>
                    <div class="col-sm-9">
                        <select id="isAccepted" name="isAccepted" class="form-select">
                            <option value="true" <%= quote.isAccepted ? 'selected' : '' %>>Yes</option>
                            <option value="false" <%= !quote.isAccepted ? 'selected' : '' %>>No</option>
                        </select>
                    </div>
                </div>

                <div class="d-grid">
                    <button type="submit" class="btn btn-hcs-green">Update Quote</button>
                </div>
            </form>
        </div>
    </div>
</div>
