<%- include('../partials/successAlert.ejs') %>
<%- include('../partials/errorAlerts.ejs') %>

<div class="container py-4">
    <div class="p-5 mb-4 bg-body-tertiary rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold text-center">Quote <%= quote.quote_ref %></h1>
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-between text-bg-secondary">
                    <span>Client: <%= quote.Client ? quote.Client.name : 'N/A' %></span>
                    <a class="text-white" href="/client/read/<%= quote.Client ? quote.Client.id : '#' %>">View Client</a>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <ul class="list-group">
                                <li class="list-group-item">Date</li>
                                <li class="list-group-item">Quote Ref</li>
                                <li class="list-group-item">Job Ref</li>
                                <li class="list-group-item">Location</li>
                                <li class="list-group-item">Client</li>
                                <li class="list-group-item">Contact</li>
                                <li class="list-group-item">Value</li>
                                <li class="list-group-item">Description</li>
                                <li class="list-group-item">Invoice No</li>
                                <li class="list-group-item">Invoice Date</li>
                            </ul>
                        </div>
                        <div class="col-6">
                            <ul class="list-group">
                                <li class="list-group-item"><%= slimDateTime(quote.date) || 'N/A' %></li>
                                <li class="list-group-item"><%= quote.quote_ref || 'N/A' %></li>
                                <li class="list-group-item"><%= quote.Location && quote.Location.address || 'N/A' %></li>
                                <li class="list-group-item"><%= quote.Client && quote.Client.name || 'N/A' %></li>
                                <li class="list-group-item"><%= quote.Client && quote.Client.Contacts.length > 0 ? quote.Client.Contacts[0].name : 'N/A' %></li>
                                <li class="list-group-item"><%= quote.value ? '£' + quote.value : 'N/A' %></li>
                                <li class="list-group-item"><%= quote.desc || 'N/A' %></li>
                                <li class="list-group-item"><%= quote.invoice_no || 'N/A' %></li>
                                <li class="list-group-item"><%= slimDateTime(quote.invoice_date) || 'N/A' %></li>
                                <% if (!quote.isAccepted) { %>
                                    <li class="list-group-item">Job: <a class="hcs-green-text" href="/job/create/<%= quote.id %>">Add Job Number</a></li>
                                <% } %>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <a type="button" class="btn btn-hcs-green btn-sm" href="/quote/update/<%= quote.id %>">Update Quote</a>
                    <span>Last Updated: <%= slimDateTime(quote.updatedAt, true) %></span>
                </div>
            </div>
        </div>
    </div>
</div>
