

<div class="container py-4">
    <div class="p-5 mb-4 bg-body-tertiary rounded-3">
        <h1 class="display-5">Create Job</h1>
        <div class="container-fluid text-center">
            <form action="/job/create" method="POST" class="needs-validation">
                <div class="row mb-3">
                    <label for="job_ref" class="col-sm-3 col-form-label">Job Ref</label>
                    <div class="col-sm-9">
                        <input type="text" id="job_ref" name="job_ref" class="form-control" required>
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="locationId" class="col-sm-3 col-form-label">Location</label>
                    <div class="col-sm-9">
                        <select id="locationId" name="locationId" class="form-select" required>
                            <% locations.forEach(location => { %>
                                <option value="<%= location.id %>"><%= location.address %>, <%= location.city %></option>
                            <% }) %>
                        </select>
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="clientId" class="col-sm-3 col-form-label">Client</label>
                    <div class="col-sm-9">
                        <select id="clientId" name="clientId" class="form-select" required>
                            <% clients.forEach(client => { %>
                                <option value="<%= client.id %>"><%= client.name %></option>
                            <% }) %>
                        </select>
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="quoteId" class="col-sm-3 col-form-label">Quote Ref</label>
                    <div class="col-sm-9">
                        <select id="quoteId" name="quoteId" class="form-select">
                            <option value="">None</option>
                            <% quotes.forEach(quote => { %>
                                <option value="<%= quote.id %>"><%= quote.quote_ref %></option>
                            <% }) %>
                        </select>
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="value" class="col-sm-3 col-form-label">Value</label>
                    <div class="col-sm-9">
                        <input type="number" id="value" name="value" step="0.01" class="form-control">
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="desc" class="col-sm-3 col-form-label">Description</label>
                    <div class="col-sm-9">
                        <textarea id="desc" name="desc" rows="4" class="form-control"></textarea>
                    </div>
                </div>

                <div class="d-grid">
                    <button type="submit" class="btn btn-hcs-green">Create Job</button>
                </div>
            </form>
        </div>
    </div>
</div>
