

<div class="container py-4">
    <div class="p-5 mb-4 bg-body-tertiary rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold text-center">Job Details</h1>

            <div class="card mb-3">
                <div class="card-header d-flex justify-content-between text-bg-secondary">
                    <span>Job Ref: <%= job.job_ref %></span>
                    <a class="text-white" href="/client/read/<%= job.Client.id %>">View Client</a>
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        <li class="list-group-item">Client: <%= job.Client ? job.Client.name : 'N/A' %></li>
                        <li class="list-group-item">Location: <%= job.Location ? `${job.Location.address}, ${job.Location.city}, ${job.Location.postalCode}, ${job.Location.country}` : 'N/A' %></li>
                        <li class="list-group-item">Quote Ref: <%= job.Quote ? job.Quote.quote_ref : 'N/A' %></li>
                        <li class="list-group-item">Status: <%= job.status %></li>
                        <li class="list-group-item">Value: <%= formatCurrency(job.value) %></li>
                        <li class="list-group-item">Start Date: <%= slimDateTime(job.createdAt) %></li>
                        <li class="list-group-item">Completion Date: <%= job.completionDate ? slimDateTime(job.completionDate) : 'Not Completed' %></li>
                        <li class="list-group-item">Description: <%= job.desc || 'No Description Provided' %></li>
                    </ul>
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <a type="button" class="btn btn-hcs-green btn-sm" href="/job/update/<%= job.id %>">Update Job</a>
                    <span>Last Updated: <%= slimDateTime(job.updatedAt, true) %></span>
                </div>
            </div>
        </div>
    </div>
</div>
