<!-- views/viewUser.ejs -->

<div class="container py-4">
    <div class="p-5 mb-4 bg-body-tertiary rounded-3">
        <div class="container-fluid py-5">
            <div class="card">
                <div class="card-header d-flex justify-content-between text-bg-secondary">
                    User
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <ul class="list-group">
                                <li class="list-group-item">Username</li>
                                <li class="list-group-item">Email</li>
                                <li class="list-group-item">Role</li>
                            </ul>
                        </div>
                        <div class="col-6">
                            <ul class="list-group">
                                <li class="list-group-item"><%= user.username %></li>
                                <li class="list-group-item"><%= user.email %></li>
                                <li class="list-group-item"><%= user.role %></li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <a type="button" class="btn btn-hcs-green btn-sm" href="/user/update/<%= user.id %>">Update User</a>
                    <span>Last Updated: <%= slimDateTime(user.updatedAt,true) %></span>
                </div>
            </div>
        </div>
    </div>
</div>