<%- include('../partials/successAlert.ejs') %>
<%- include('../partials/errorAlerts.ejs') %>
<div class="container py-4">
    <div class="p-5 mb-4 bg-body-tertiary rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold text-center"><%= clients.name %> Contacts</h1>
            <div class="row">
                <div class="col-2">
                    <ul class="scrollable-list list-group sticky-top">
                        <a class="list-group-item list-group-item-action disabled text-bg-secondary text-center" aria-disabled="true">Contact List</a>
                        <% contacts.forEach(contact => { %>
                            <a href="#<%= contact.id %>" class="list-group-item list-group-item-action text-center">
                                <%= contact.name %>
                            </a>
                        <% }); %>
                    </ul>
                </div>
                <div class="col-10">
                    <% contacts.forEach(contact => { %>
                    <div class="card mb-3">
                        <div class="card-header d-flex justify-content-between text-bg-secondary">
                            <span>Contact: <%= contact.name %></span>
                            <a class="text-white" href="/contact/read/<%= contact.id %>">View Contact</a>
                        </div>
                        <div class="card-body" id="<%= contact.id %>">
                            <div class="row">
                                <div class="col-6">
                                    <ul class="list-group">
                                        <li class="list-group-item">Name</li>
                                        <li class="list-group-item">Phone</li>
                                        <li class="list-group-item">Email</li>
                                        <li class="list-group-item">Note</li>
                                    </ul>
                                </div>
                                <div class="col-6">
                                    <ul class="list-group">
                                        <li class="list-group-item"><%= contact.name %></li>
                                        <li class="list-group-item"><%= contact.phone %></li>
                                        <li class="list-group-item"><%= contact.email %></li>
                                        <li class="list-group-item"><%= contact.note %></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer d-flex justify-content-between">
                            <a type="button" class="btn btn-hcs-green btn-sm" href="/contact/update/<%= contact.id %>">Update Contact</a>
                            <span>Last Updated: <%= slimDateTime(contact.updatedAt,true) %></span>
                        </div>
                    </div>
                    <% }); %>
                </div>
            </div>
        </div>
    </div>
</div>
